<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javen.dao.UserDao" >
  <resultMap id="BaseResultMap" type="com.javen.model.User" >
    <id      column="id"        property="id"        jdbcType="INTEGER" />
    <result  column="user_idnumber"  property="user_idnumber"  jdbcType="VARCHAR" />
    <result  column="user_name"  property="user_name"  jdbcType="VARCHAR" />
    <result  column="flag"  property="flag"  jdbcType="VARCHAR" />
    <result  column="user_password"  property="user_password"  jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="BaseResultMap1" type="com.javen.model.UpKeep" >
    <id      column="id"        property="id"        jdbcType="INTEGER" />
    <result  column="car_id"  property="car_id"  jdbcType="INTEGER" />
    <result  column="upkeep_date"  property="upkeep_date"  jdbcType="VARCHAR" />
    <result  column="upkeep_distance"  property="upkeep_distance"  jdbcType="VARCHAR" />
    <result  column="upkeep_account"  property="upkeep_account"  jdbcType="VARCHAR" />
    <result  column="upkeep_cost"  property="upkeep_cost"  jdbcType="VARCHAR" />
    <result  column="upkeep_address"  property="upkeep_address"  jdbcType="VARCHAR" />
    <result  column="user_idnumber"  property="user_idnumber"  jdbcType="VARCHAR" />
  </resultMap>
  
  
  <sql id="Base_Column_List" >
   	id,user_idnumber,user_name,flag,user_password
  </sql>
  
  <sql id="Base_Column_List1" >
   	id,car_id,upkeep_date,upkeep_distance,upkeep_account,upkeep_cost,upkeep_address,user_idnumber
  </sql>
  
  <select id="login" resultMap="BaseResultMap" parameterType="com.javen.model.User">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_idnumber = #{user_idnumber,jdbcType=VARCHAR} and user_password = #{user_password,jdbcType=VARCHAR}
  </select>
  
  
  <select id="selectAll" resultMap="BaseResultMap1" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List1" />
    from upkeep
    where user_idnumber = #{user_idnumber,jdbcType=INTEGER}
  </select>

   <delete id="deleteByPrimaryKey"  parameterType="java.lang.Integer">
    delete from upkeep
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
   <insert id="insert" parameterType="com.javen.model.UpKeep" >
    insert into upkeep(car_id,upkeep_date,upkeep_distance,upkeep_account,upkeep_cost,upkeep_address,user_idnumber)
    values(#{car_id,jdbcType=INTEGER}, #{upkeep_date,jdbcType=VARCHAR}
    ,#{upkeep_distance,jdbcType=VARCHAR}, #{upkeep_account,jdbcType=VARCHAR}
    ,#{upkeep_cost,jdbcType=VARCHAR}, #{upkeep_address,jdbcType=VARCHAR}
    ,#{user_idnumber,jdbcType=VARCHAR})
   </insert>
  
   <update id="updateByPrimaryKey"   parameterType="com.javen.model.UpKeep" >
    update upkeep
    set car_id = #{car_id,jdbcType=INTEGER},
      upkeep_date = #{upkeep_date,jdbcType=VARCHAR},
      upkeep_distance = #{upkeep_distance,jdbcType=VARCHAR},
      upkeep_account = #{upkeep_account,jdbcType=VARCHAR},
      upkeep_cost = #{upkeep_cost,jdbcType=VARCHAR},
      upkeep_address = #{upkeep_address,jdbcType=VARCHAR},
      user_idnumber = #{user_idnumber,jdbcType=VARCHAR}
      where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>